body {
    background-color: rgb(90, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login {
    text-align: center;
  }
  
  h1 {
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(2, 2, 44);
    padding: 40px;
    border-radius: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 20px;
  }
  
  button {
    background-color: navy;
    color: white;
    border: none;
    height: 30px;
    cursor: pointer;
  }
  
  button {
    background-color: green; /* Alteração da cor para verde */
    color: white;
    border: none;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
  }
  