/* Estilos CSS para o cabeçalho */
header {
    background-color: #560000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  #logo  {
    height: 100px;
   }

   #nome_empresa{
    height: 40px;
    margin-left:  -100px;
  }

  #perfil{
    margin-left: 80px;
  }

  #carrinho{
      margin-right: 110px;
  }

  #perfil {
    margin-left: 80px;
    filter: hue-rotate(45deg);
  }
  
  #carrinho {
    margin-right: 110px;
    filter: hue-rotate(45deg);
  }

  #perfil:hover {
    transform: scale(1.1);
  }

  #carrinho:hover {
    transform: scale(1.1);
  }

  #logo:hover {
    transform: scale(1.1);
  }
  
  #nome_empresa:hover {
    transform: scale(1.1);
  }


  form{
    margin-left: 100px;
  }

  header form {
    display: flex;
    align-items: center;
  }
  
  header input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }

  header button {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  header .account {
    margin-right: 10px;
    height: 30px;
  }

  header .cart {
    height: 30px;
  }

  .categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #e7e2e2;
  }

  .categoria {
    text-align: center;
    width: calc(100% / 6); /* Distribui as categorias igualmente em 6 colunas */
    margin: 0;
    padding: 0;
  }

  .categoria h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .categoria img {
    width: 100px;
    height: 100px;
  }

  .categoria:hover{
    transform: scale(1.03);
  }

  .produto_card {
    display: flex;
    margin: 0;
    background-color: #fff;
    padding: 0;
    padding-left: 100px;
    background-color: #e7e2e2;
  }
  
  .produto-imagem img {
    width: 50%;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  .produto-imagem {
    flex: 0 0 40%;
    margin-right: 10px;
    padding: 30PX;
  }
  
  .produto-imagem img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  
  .produto_detalhes {
    margin-left: 10px;
    width: fit-content;
    padding: 30PX;
  }
  
  .produto_detalhes h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px; /* Increased font size for the product title */
    color: #560000;
  }
  
  .produto_detalhes p {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 24px; /* Increased font size for the price */
  }
  
  .quantidade {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quantidade button {
    padding: 10px; /* Increased button size for the + and - buttons */
    background-color: #560000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .quantidade input {
    width: 30px;
    text-align: center;
    margin: 0 10px;
  }
  
  .comprar {
    padding: 10px 20px; /* Increased button size for the "Comprar" button */
    background-color: #560000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 25px; /* Increased font size for the "Comprar" button */
  }
  
  .cep input[type="text"] {
    margin-top: 20PX;
    padding: 10px; /* Increased input field size for the CEP */
    border: 1px solid #ccc;
  }
  
  .calcular {
    padding: 10px 20px; /* Increased button size for the "Calcular" button */
    background-color: #560000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
#sobre{
  font-size: 18px;
}

footer {
  background-color: #560000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

#titulo_categoria:hover {
  text-decoration: underline;
}