<!DOCTYPE html>
<html>

<head>
  <title>La Diversité - Home</title>
  <link rel="stylesheet" href="/stylesheets/pagina_inicial.css">
  <script src="/javascripts/pagina_inicial.js"></script>
</head>

<body>
  <header>
    <img id="logo" src="./imagens/logo.png" alt="Logo da Empresa" onclick="location.reload();">
    <img id="nome_empresa" src="./imagens/nome_empresa.png" alt="Nome da Empresa" onclick="location.reload();">
    <form>
      <input type="text" placeholder="Pesquisar...">
      <button>Pesquisar</button>
    </form>
    <div class="account-dropdown">
      <img id="perfil" src="imagens/minha_conta.png" alt="Minha Conta" class="account" onclick="toggleAccountOptions()">
      <div id="account-options" class="account-options">
        <a href="/login">Login</a>
        <a href="/pedidos">Minha Conta</a>
        <a href="/bebidas">Gerenciar Produtos</a>
      </div>
    </div>
    <img id="carrinho" src="imagens/carrinho.png" alt="Carrinho de Compras" class="cart" onclick="toggleCarrinho()">
  </header>
  <div class="categorias">
    <div class="categoria" onclick="categoria_whisky('/whisky')">
      <h2 id="titulo_categoria">WHISKYS</h2>
      <img src="./imagens/WHISKYS.png" alt="WHISKYS">
    </div>
    <div class="categoria" onclick="categoria_licor('/licor')">
      <h2>LICORES</h2>
      <img src="./imagens/LICORES.png" alt="LICORES">
    </div>
    <div class="categoria" onclick="categoria_gin('/gin')">
      <h2>GINS</h2>
      <img src="./imagens/GINS.png" alt="GINS">
    </div>
    <div class="categoria" onclick="categoria_vodka('/vodka')">
      <h2>VODKAS</h2>
      <img src="./imagens/VODKAS.png" alt="VODKAS">
    </div>
    <div class="categoria" onclick="categoria_tequila('/tequila')">
      <h2>TEQUILAS</h2>
      <img src="./imagens/TEQUILAS.png" alt="TEQUILAS">
    </div>
    <div class="categoria" onclick="categoria_espumante('/espumante')">
      <h2>ESPUMANTES</h2>
      <img src="./imagens/ESPUMANTES.png" alt="ESPUMANTES">
    </div>
  </div>
  <img id="slogan" src="./imagens/slogan.png" alt="slogan" class="slogan">
  <div id="top_vendidos">
    <h2>OS MAIS VENDIDOS</h2>
  </div>
  <div class="produtos">
    <div class="produto">
      <img src="./imagens/redlabel.png" alt="Produto 1" onclick="redirectToProductPage('/produto')">
      <h2 id="titulo" onclick="redirectToProductPage('produto.html')">Red Label - 1L </h2>
      <div class="preco">R$100.00</div>
      <div class="subtitulo">No pix ou no dinheiro</div>
      <div class="quantidade">
        <button onclick="diminuir(event)">-</button>
        <input type="number" value="1" min="1">
        <button onclick="aumentar(event)">+</button>
      </div>
      <button class="comprar" onclick="comprarProduto('Red Label - 1L', 'R$100.00')">Compre Já</button>

    </div>
    <div class="produto">
      <img src="./imagens/tanqueray.jpeg" alt="Produto 2">
      <h2>Tanqueray - 700ml</h2>
      <div class="preco">R$120.00</div>
      <div class="subtitulo">No pix ou no dinheiro</div>
      <div class="quantidade">
        <button onclick="diminuir(event)">-</button>
        <input type="number" value="1" min="1">
        <button onclick="aumentar(event)">+</button>
      </div>
      <button class="comprar" onclick="comprarProduto('Tanqueray - 700ml', 'R$100.00')">Compre Já</button>
    </div>
    <div class="produto">
      <img src="./imagens/absolut.jpg" alt="Produto 3">
      <h2>Absolut - 1L</h2>
      <div class="preco">R$90.00
      </div>
      <div class="subtitulo">No pix ou no dinheiro</div>
      <div class="quantidade">
        <button onclick="diminuir(event)">-</button>
        <input type="number" value="1" min="1">
        <button onclick="aumentar(event)">+</button>
      </div>
      <button class="comprar" onclick="comprarProduto('Absolut - 1L', 'R$90.00')">Compre Já</button>

    </div>
    <div class="produto">
      <img src="./imagens/Jagermeister.png" alt="Produto 4">
      <h2>Jägermeister - 700ml</h2>
      <div class="preco">R$110.00</div>
      <div class="subtitulo">No pix ou no dinheiro</div>
      <div class="quantidade">
        <button onclick="diminuir(event)">-</button>
        <input type="number" value="1" min="1">
        <button onclick="aumentar(event)">+</button>
      </div>
      <button class="comprar" onclick="comprarProduto('Jagermeister - 700ml', 'R$110.00')">Compre Já</button>

    </div>
  </div>
  <div class="produtos">
    <div class="produto">
      <img src="./imagens/licor43.jpg" alt="Produto 5">
      <h2>Licor 43 - 700ml</h2>
      <div class="preco">R$150.00</div>
      <div class="subtitulo">No pix ou no dinheiro</div>
      <div class="quantidade">
        <button onclick="diminuir(event)">-</button>
        <input type="number" value="1" min="1">
        <button onclick="aumentar(event)">+</button>
      </div>
      <button class="comprar" onclick="comprarProduto('Licor 43 - 700ml', 'R$150.00')">Compre Já</button>

    </div>
    <div class="produto">
      <img src="./imagens/jackdanields.png" alt="Produto 6">
      <h2>Jack Daniel's Old 7 - 1L</h2>
      <div class="preco">R$139.90</div>
      <div class="subtitulo">No pix ou no dinheiro</div>
      <div class="quantidade">
        <button onclick="diminuir(event)">-</button>
        <input type="number" value="1" min="1">
        <button onclick="aumentar(event)">+</button>
      </div>
      <button class="comprar" onclick="comprarProduto('Jack Daniels Old 7 - 1L', 'R$139.90')">Compre Já</button>

    </div>
    <div class="produto">
      <img src="./imagens/jackfire.png" alt="Produto 7">
      <h2>Jack Daniel's Fire - 1L</h2>
      <div class="preco">R$149.90</div>
      <div class="subtitulo">No pix ou no dinheiro</div>
      <div class="quantidade">
        <button onclick="diminuir(event)">-</button>
        <input type="number" value="1" min="1">
        <button onclick="aumentar(event)">+</button>
      </div>
      <button class="comprar" onclick="comprarProduto('Jack Daniels Fire - 1L', 'R$149.90')">Compre Já</button>
    </div>
    <div class="produto">
      <img src="./imagens/cuervo.png" alt="Produto 8">
      <h2>José Cuervo - 700ml</h2>
      <div class="preco">R$100.00</div>
      <div class="subtitulo">No pix ou no dinheiro</div>
      <div class="quantidade">
        <button onclick="diminuir(event)">-</button>
        <input type="number" value="1" min="1">
        <button onclick="aumentar(event)">+</button>
      </div>
      <button class="comprar" onclick="comprarProduto('Jose Cuervo - 700ml', 'R$100.00')">Compre Já</button>

    </div>
  </div>

  <div id="carrinho-lateral">
    <h2>Carrinho</h2>
    <ul id="itens-carrinho"></ul>
    <div id="valor-total-carrinho">
      Total: R$ <span id="valor-total">0</span>
    </div>
    <button id="botaofinalizar" onclick="redirecionarParaPagina()">Finalizar Compra</button>
    <button id="botaofechar" onclick="fecharCarrinho()">Fechar</button> <!-- Novo botão de fechar -->
  </div>

  <!-- Verificação de Idade -->
  <div id="verificar_idade">
    <h1>LA DIVERSITÉ</h1>
    <p>Você possui mais de 18 anos?</p>
    <div class="botoes">
      <button onclick="confirmarIdade()">Sim</button>
      <button onclick="Error()">Não</button>
    </div>
    <h2 id="conteudo">Conteúdo para maiores de 18 anos.</h2>
    <h4 id="maior">A venda de bebidas alcoólicas é proibida para menores de 18 anos.</h4>
  </div>

  <footer>
    <p>La Diversité &copy; 2023. Todos os direitos reservados.</p>
    <p>Endereço: Avenida Severiano de Almeida, 1110 - Getúlio Vargas - RS</p>
    <p>Telefone: (54) 99621-4447 | Email: ladiversiteoficial@gmail.com</p>
    <p>
      <a href="#">Termos de Serviço</a> | <a href="#">Política de Privacidade</a>
    </p>
  </footer>
  <script>
    var precosCarrinho = [];
    

    // Função para adicionar um item ao carrinho
    function adicionarAoCarrinho(nome, preco) {
      var carrinho = document.getElementById("itens-carrinho");

      var item = document.createElement("li");
      item.innerHTML = `
    <span class="produto-nome">${nome}</span>
    <span class="produto-preco">${preco}</span>
    <button class="excluir-produto" onclick="excluirProduto(event)">Excluir</button>
`;
  

      carrinho.appendChild(item);

      var precoNumerico = parseFloat(preco.replace("R$", ""));
      precosCarrinho.push(precoNumerico);
      atualizarValorTotal();
      alert("Produto adicionado ao carrinho");
  
    }


    // Função chamada ao clicar em "Comprar" em um produto
    function comprarProduto(nome, preco) {
      adicionarAoCarrinho(nome, preco);
    }

    // Função chamada ao clicar em "Finalizar Compra"
    function finalizarCompra() {
      var carrinho = document.getElementById("carrinho-lateral");
      carrinho.innerHTML = "<h3>Carrinho</h3><p>Carrinho vazio.</p>";

      precosCarrinho = []; // Limpa os preços no carrinho
    }

    // Função para alternar a exibição do carrinho lateral
    function toggleCarrinho() {
      var carrinhoLateral = document.getElementById("carrinho-lateral");
      carrinhoLateral.style.right = (carrinhoLateral.style.right === "0px") ? "-300px" : "0px";
    }

    // Função para fechar o carrinho
    function fecharCarrinho() {
      var carrinhoLateral = document.getElementById("carrinho-lateral");
      carrinhoLateral.style.right = "-300px";
    }

    function atualizarValorTotal() {
      var valorTotalElement = document.getElementById("valor-total");
      var total = precosCarrinho.reduce(function (acumulador, preco) {
        return acumulador + preco;
      }, 0);
      valorTotalElement.textContent = total.toFixed(2); // Formata o valor para duas casas decimais
    }


    document.addEventListener("DOMContentLoaded", function () {
      const carrinhoIcon = document.getElementById("carrinho-icon");
      const carrinhoLateral = document.getElementById("carrinho-lateral");
      const valorTotalElement = document.getElementById("valor-total");

      // Array para armazenar os preços dos itens no carrinho
      let precosCarrinho = [];

      carrinhoIcon.addEventListener("click", function () {
        carrinhoLateral.classList.toggle("exibir-carrinho");
      });

      // Função para atualizar o valor total do carrinho
      function atualizarValorTotal() {
        const total = precosCarrinho.reduce((acumulador, preco) => acumulador + preco, 0);
        valorTotalElement.textContent = total.toFixed(2); // Formata o valor para duas casas decimais
      }

      // Exemplo de adicionar um item ao carrinho e atualizar o valor total
      const precoItem1 = 10.99;
      precosCarrinho.push(precoItem1);
      atualizarValorTotal();

      const precoItem2 = 5.99;
      precosCarrinho.push(precoItem2);
      atualizarValorTotal();
    });

    function atualizarValorTotal() {
  var valorTotalElement = document.getElementById("valor-total");
  var total = precosCarrinho.reduce(function(acumulador, preco) {
    return acumulador + preco;
  }, 0);
  valorTotalElement.textContent = total.toFixed(2); // Formata o valor para duas casas decimais
}



    function excluirProduto(event) {
  var item = event.target.parentNode;
  var precoItem = parseFloat(item.querySelector(".produto-preco").textContent.replace("R$", ""));
  item.parentNode.removeChild(item);
  var index = precosCarrinho.indexOf(precoItem);
  if (index > -1) {
    precosCarrinho.splice(index, 1);
    atualizarValorTotal();
  }
}

function redirecionarParaPagina() {
    // Aqui você pode adicionar a lógica para finalizar a compra

    // Redirecionar para outra página
    window.location.href = "finalizacao";
  }

  
  
  </script>

</body>

</html>