<!DOCTYPE html>
<html>
<head>
  <title>Página de Login</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
  <div class="login">
    <img src="/imagens/logo.png" alt="Logo da Empresa">
    
    <div class="usuario">
      <h2 id="titulologin">Login</h2>
      <% if (errorMessage) { %>
        <div class="alert-error"><%= errorMessage %></div>
      <% } else if (successMessage) { %>
        <div class="alert-success"><%= successMessage %></div>
      <% } %>
      <div class="form">
        <form action="/login" method="POST">
          <input type="text" name="matricula" placeholder="Matrícula" required>
          <input type="password" name="senha" placeholder="Senha" required>
          <button type="submit">Entrar</button>
        </form>
      </div>
      <button id="cadastro" onclick="window.location.href = '/registro'">Criar Cadastro</button>
    </div>