<!DOCTYPE html>
<html>
<head>
  <title>Página de Login</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
  <div class="login">
    <img src="logo.png" alt="Logo da Empresa">
    <h1>Nome da Empresa</h1>
    <form>
      <input type="text" placeholder="Nome ou CPF" required>
      <input type="password" placeholder="Senha" required>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>