<!DOCTYPE html>
<html>
  <head>
    <title>La Diversité - Meus pedidos</title>
    <link rel="stylesheet" href="/stylesheets/pedidos.css">
    <script src="/javascripts/categoria_gins.js"></script>
  </head>
  <body>
    <header>
      <img id="logo" src="./imagens/logo.png" alt="Logo da Empresa" onclick="pagina_inicial('/')">
      <img id="nome_empresa" src="./imagens/nome_empresa.png" alt="Nome da Empresa" onclick="pagina_inicial('/')">
      <form>
        <input type="text" placeholder="Pesquisar...">
        <button>Pesquisar</button>
      </form>
      <a href="/login">
        <img id="perfil" src="imagens/minha_conta.png" alt="Minha Conta" class="account">
      </a>
      <img id="carrinho" src="imagens/carrinho.png" alt="Carrinho de Compras" class="cart">
    </header>
    </header>
     <div class="categorias">
      <div class="categoria" onclick="categoria_whisky('/whisky')">
        <h2 id="titulo_categoria">WHISKYS</h2>
        <img src="./imagens/WHISKYS.png" alt="WHISKYS">
      </div>
      <div class="categoria" onclick="categoria_licor('/licor')">
        <h2>LICORES</h2>
        <img src="./imagens/LICORES.png" alt="LICORES">
      </div>
      <div class="categoria" onclick="categoria_gin('/gin')">
        <h2>GINS</h2>
        <img src="./imagens/GINS.png" alt="GINS">
      </div>
      <div class="categoria" onclick="categoria_vodka('/vodka')" >
        <h2>VODKAS</h2>
        <img src="./imagens/VODKAS.png" alt="VODKAS">
      </div>
      <div class="categoria" onclick="categoria_tequila('/tequila')">
        <h2>TEQUILAS</h2>
        <img src="./imagens/TEQUILAS.png" alt="TEQUILAS">
      </div>
      <div class="categoria" onclick="categoria_espumante('/espumante')">
        <h2>ESPUMANTES</h2>
        <img src="./imagens/ESPUMANTES.png" alt="ESPUMANTES">
      </div>
    </div>
    <img id="slogan" src="./imagens/slogan.png" alt="slogan" class="slogan">
    <div id="titulo_pedidos">
        <h2>MEUS PEDIDOS</h2>
      </div>
      <div id="dados">
        <h2>DADOS PESSOAIS</h2>
        <p>Nome: <span id="nome">Vanley Basso</span></p>
        <p>Data de Nascimento: <span id="data_nascimento">02/10/1996</span></p>
        <p>Telefone: <span id="telefone">54996214447</span></p>
        <p>Email: <span id="email">vanley_basso@hotmail.com</span></p>
        <p>Cidade: <span id="email">Getúlio Vargas</span></p>
        <p>Endereço: <span id="endereco">Av. Severiano de Almeida, 1110, Bairro Consoladora</span></p>
      </div>
      <div id="meus_pedidos">
        <h2>MEUS PEDIDOS</h2>
        <p>Nome do Produto: <span id="nome_produto">Red Label</span></p>
        <p>Valor: <span id="valor">R$ 100.00</span></p>
        <p>Data da Compra: <span id="data_compra">05/05/2023</span></p>
      </div>
      <footer>
        <p>La Diversité &copy; 2023. Todos os direitos reservados.</p>
        <p>Endereço: Avenida Severiano de Almeida, 1110 - Getúlio  Vargas - RS</p>
        <p>Telefone: (54) 99621-4447 | Email: ladiversiteoficial@gmail.com</p>
        <p>
          <a href="#">Termos de Serviço</a> | <a href="#">Política de Privacidade</a>
        </p>
      </footer>
  </body>
</html>