/* Estilos CSS para o cabeçalho */
header {
    background-color: #560000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  #logo  {
    height: 100px;
   }

   #nome_empresa{
    height: 40px;
    margin-left:  -100px;
  }

  #perfil{
    margin-left: 80px;
  }

  #carrinho{
      margin-right: 110px;
  }

  #perfil {
    margin-left: 80px;
    filter: hue-rotate(45deg);
  }
  
  #carrinho {
    margin-right: 110px;
    filter: hue-rotate(45deg);
  }
  .slogan {
    width: 500%;
    height: auto; /* Ajusta a altura automaticamente para corresponder à imagem */
  }
  #perfil:hover {
    transform: scale(1.1);
  }

  #carrinho:hover {
    transform: scale(1.1);
  }

  #logo:hover {
    transform: scale(1.1);
  }
  
  #nome_empresa:hover {
    transform: scale(1.1);
  }


  form{
    margin-left: 100px;
  }

  header form {
    display: flex;
    align-items: center;
  }
  
  header input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }

  header button {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  header .account {
    margin-right: 10px;
    height: 30px;
  }

  header .cart {
    height: 30px;
  }

  .categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e7e2e2;
  }

  .categoria {
    text-align: center;
    width: calc(100% / 6); /* Distribui as categorias igualmente em 6 colunas */
  }

  .categoria h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .categoria img {
    width: 100px;
    height: 100px;
  }

  /* Estilos CSS para a imagem na faixa horizontal */
  .slogan {
    width: 100%;
    max-height: 200px; /* Defina a altura desejada para a imagem */
    object-fit: cover;
  }

  .categoria:hover{
    transform: scale(1.03);
  }

  #whiskys {
    background-color: #e7e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Ajuste a altura conforme necessário */
  }

  .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
  }

  
  .produto {
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .produto:hover{
    transform: scale(1.03);
  
  }

  .produto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .produto h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .produto .preco {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .produto .subtitulo {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .produto .quantidade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .produto .quantidade input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
  }

  .produto .quantidade button {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #eee;
    border: none;
    cursor: pointer;
  }

  .produto .comprar {
    padding: 10px 20px;
    background-color: #560000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .produto .comprar:hover {
    transform: scale(1.1);
  }

  body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #titulo:hover {
    text-decoration: underline;
  }

  #conteudo {
    color: #fff;
    font-size: 17px;
    padding-top: 15px;
  }
  
  #maior {
    font-size: 15px;
    color: #fff;
  }

  footer {
    background-color: #560000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  footer p {
    margin: 0;
    font-size: 14px;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #titulo_categoria:hover {
    text-decoration: underline;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ff0000;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }

  #carrinhoNav {
    display: none;
  }

  #carrinhoNav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0; /* Estender até o final da página */
    width: 300px; /* Largura do carrinho de compras */
    background-color: #e7e2e2; /* Cor de fundo cinza */
    justify-content: center; /* Alinhar itens verticalmente no centro */
    flex-direction: column; /* Alinhar itens verticalmente */ 
    padding: 20px; /* Espaçamento interno para o conteúdo do carrinho */
    
    /* Outros estilos desejados */
  }
  

  #carrinhoNav.aberto {
    transform: translate(0, 0);
  }
  
  #finalizar_pedido{
    padding: 10px 20px;
    background-color: #560000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }

  .closebtn {
    color: #000000; /* cor do texto */
    font-size: 18px; /* tamanho da fonte */
    font-weight: bold; /* peso da fonte */
    text-decoration: none; /* remover sublinhado do texto */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #560000; /* cor do texto ao passar o mouse */
  }
  