body {
  background-color: rgb(90, 6, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Alteração para altura mínima de 100% da viewport */
  margin: 0;
}

.login {
  text-align: center;
}

img {
  height: 200px;
  max-width: 100%; /* Adição para garantir que a imagem não exceda a largura do contêiner */
}

h1 {
  color: burlywood;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: rgb(2, 2, 44);
  padding: 40px;
  border-radius: 20px;
}

input[type="text"],
input[type="password"] {
  height: 30px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 20px;
}

button {
  background-color: green; /* Alteração da cor para verde */
  color: white;
  border: none;
  width: 300px;
  cursor: pointer;
  height: 30px; /* Adição da altura para o botão */
  border-radius: 20px;
}

#cadastro{
  margin-top: 30px;
  background-color: #b19775;
  color: black;
}

#titulologin{
  color: #b19775;
}

.alert-error{
  color: red;
}

.alert-success{
  color: green;
}