body {
  background-color: rgb(90, 6, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.registro {
  text-align: center;
}

img {
  height: 10vh; /* Alteração da altura para 10% da altura da viewport */
}

h1 {
  color: #deb887;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: rgb(2, 2, 44);
  padding: 5vw; /* Alteração do preenchimento para 5% da largura da viewport */
  border-radius: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  height: 5vh; /* Alteração da altura para 5% da altura da viewport */
  margin-bottom: 2vh; /* Alteração da margem inferior para 2% da altura da viewport */
  padding: 1vh; /* Alteração do preenchimento para 1% da altura da viewport */
  border-radius: 20px;
}

button {
  background-color: navy;
  color: white;
  border: none;
  width: 30vw; /* Alteração da largura para 30% da largura da viewport */
  cursor: pointer;
}

button {
  background-color: green; /* Alteração da cor para verde */
  color: white;
  border: none;
  height: 5vh; /* Alteração da altura para 5% da altura da viewport */
  cursor: pointer;
  border-radius: 20px;
}
